/*
Test Theme
Version: 2016.2.2
*/
@import url('reset.css');
/*General Styles*/
html {
    height: 100%
}

body {
    background-image: url(img/Fon1.png);
    background-size: 2500px;
    background-repeat: repeat-x;
    background-position: top;
    color: #bbd8ff;
    min-height: 100%;
    padding-top: 25px;
    font-family: "Open Sans";
}

a {
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    outline: none;
    color: #25365d;
    font-size: 14px;
}

.wrap {
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (min-width: 430px) {

    .logo {
        width: 174px;
        display: inline-block
    }

    .navigation {
        display: inline-block;
        float: right;

    }
}

@media screen and (max-width: 430px) {

    .logo {
        width: 174px;
        margin: 0 auto;
    }

    .navigation {
        margin: 0 auto;

    }
}

.header li {
    display: inline-block;
    text-align: center;
    padding-left: 10px;
}

/*Header*/
.header {
    height: 500px;
}

.zagolovok {
    color: white;
    font-size: 40px;
    margin-top: 43px;
    text-align: center;
}

.header_top .slogan {
    margin: 18px auto 0;
    max-width: 500px;
    line-height: 1.4;
    text-align: center;

}

.download_button {
    text-align: center;

}

.conteiner {
    margin-top: 397px;
    margin-bottom: 50px;

}

.content h2 {
    color: #24385B;
    font-size: 36px;
    margin-bottom: 28px;

}

.text1 {
    max-width: 655px;
    line-height: 1.45;
    color: #5B5B5B;
    margin-bottom: 20px;

}

.komp {
    float: left;
    width: 200px;
    margin-left: 200px;
}

.conteiner i {
    color: red;
    margin: 8px;

}

@media screen and (min-width: 970px) {
    .content {
        background-image: url("img/komp.png");
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: top right;
    }
}

.bg_blocks {
    background: #F8F9FD;
}

.blocks {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.block {
    width: 300px;
    display: inline-block;
    margin-bottom: 50px;
    text-align: left !important;
}

.blocks .block .text {
    width: 200px;
    display: inline-block;

}

.block .icon {
    width: 70px;
    display: inline-block;
    vertical-align: top;

}

.block .icon img {
    width: 50px;

}

.block .text h3 {
    color: #24385B;
    margin-bottom: 10px;
    font-weight: 700;
}

.block .text p {
    color: #5B5B5B;
}

.CheckOurFeatures {
    padding: 30px 20px;
}

.CheckOurFeatures h2 {
    text-align: center;
    color: #24385B;
    font-size: 35px;
}

.comp2 {
    max-width: 800px;
    margin: 0 auto;
}

.comp2 img {
    width: 100%;
}

.Plans {
    background: #F8F9FD;
    padding: 30px 0 60px;
    text-align: center;

}

.Plans h1 {
    color: #24385B;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 30px;

}

.Plans p {
    max-width: 1000px;
    text-align: center;
    color: #5B5B5B;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 auto;

}

.Plan {
    background: #ffffff;
    width: 250px;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.Plan * {
    padding: 30px 0;

}

.Plan h4 {
    font-size: 18px;
    color: #5B5B5B;
}

.Plans span {
    font-size: 18px;
    color: #5B5B5B;
}

.Plans .money {
    font-size: 40px;
    color: #24385B;
    font-weight: bold;
}

.Plan .doll {
    font-size: 25px;
    color: #24385B;
    font-weight: bold;
}

.CallCenter {

}

.CallCenter img {
    width: 60px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.CallCenter h5 {
    color: #24385B;
    padding-bottom: 30px;
    font-weight: bold;
}

.CallCenter p {
    color: #24385B;
    margin-bottom: 6px;

}

.CallCenter .ap p {
    color: #24385B;

}

.maill {
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;

}

.maill .text {
    padding-top: 5px;
    font-size: 22px;
    display: inline-block;

}

.maill .icon {
    width: 50px;
    display: inline-block;
    vertical-align: top;
}

.maill .text {
    font-size: 22px;
    color: #25365d;
    font-weight: bold;
}

.phone {
    display: inline-block;
    margin-bottom: 20px;
}

.phone .text {
    font-size: 22px;
    color: #25365d;
    font-weight: bold;

}

.phone .icon {
    width: 50px;
    display: inline-block;
    vertical-align: top;
}

.footer {
    background-image: url(img/Fonfooter.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #bbd8ff;
    min-height: 600px;
    padding-top: 25px;

}

.footer .zagolovokh1 h1 {
    text-align: center;
}

.footer .text p {
    text-align: center;
    max-width: 500px;
    color: #5B5B5B;
    margin: 0 auto;
    line-height: 1.4;
}

.title {
    font-size: 36px;
    color: #25365d;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans';
}

li {
    list-style-type: none;
}